
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Random</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">A random number between <b><%= @calc_one %></b> and <b><%= @calc_two %></b> is <b><%= @ans_one %>.</p>
      </div>
    </div>
  </div>
</div>
